<div class='grid flex align-content-center min-h-screen'>
  <div class='col-12 flex justify-content-center'>
  <pre class='lg:w-auto md:w-screen sm:w-screen swapi-home-logo'>
                             ...................................          ............          ......................................     ....................................              .............
                     .+#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:        .@@@@@@@@@@@@#        +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+   :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%*=:        @@@@@@@@@@@@@.
                    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        *@@@@@@@@@@@@@-       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.  :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+.     @@@@@@@@@@@@@.
                   #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+      .@@@@@@@@@@@@@@@.     =@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%  :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+    @@@@@@@@@@@@@.
                  -@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.     %@@@@@@@@@@@@@@@#     %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+ :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*   @@@@@@@@@@@@@.
                  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#    =@@@@@@@@@@@@@@@@@-   :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@::@@@@@@@@@@@@@@@@@@@@@@@##########%@@@@@@@@@@@@@=  @@@@@@@@@@@@@.
                  -@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-   %@@@@@@@@@@@@@@@@@%   +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=-@@@@@@@@@@@@#:@@@@@@@@@@@@@@@@@@@@@@%           .#@@@@@@@@@@@@  @@@@@@@@@@@@@.
                   @@@@@@@@@@@@@@@@@:            .@@@@@@@@@@@@@@. -@@@@@@@@@@@@@@@@@@@+  @@@@@@@@@@@@+   =@@@@@@@@@@@@#  *@@@@@@@@@@@@=        %@@@@@@@@@@@@@%            :@@@@@@@@@@@@: @@@@@@@@@@@@@.
                   :@@@@@@@@@@@@@@@@*.            -@@@@@@@@@@@@@* %@@@@@@@@@@@@@@@@@@@@:=@@@@@@@@@@@@    @@@@@@@@@@@@%    %@@@@@@@@@@@@:       %@@@@@@@@@@@@@%            :@@@@@@@@@@@@: @@@@@@@@@@@@@.
                    .#@@@@@@@@@@@@@@@@#:           *@@@@@@@@@@@@@*@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@+   +@@@@@@@@@@@@:    :@@@@@@@@@@@@%       %@@@@@@@@@@@@@@-----------+%@@@@@@@@@@@%  @@@@@@@@@@@@@.
                      =@@@@@@@@@@@@@@@@@%-          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   :@@@@@@@@@@@@-      *@@@@@@@@@@@@*      %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:  @@@@@@@@@@@@@.
                       .#@@@@@@@@@@@@@@@@@+         =@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*  .@@@@@@@@@@@@*       .@@@@@@@@@@@@@-     %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%:   @@@@@@@@@@@@@.
                         .*@@@@@@@@@@@@@@@@@:        %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:  *@@@@@@@@@@@@         :@@@@@@@@@@@@%     %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%=     @@@@@@@@@@@@@.
                           .*@@@@@@@@@@@@@@@@:       .@@@@@@@@@@@@@@@@@@@@@@:@@@@@@@@@@@@@@@@@@@@@#  :@@@@@@@@@@@@#----------%@@@@@@@@@@@@=    %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%+:       @@@@@@@@@@@@@.
                            .%@@@@@@@@@@@@@@@@:       =@@@@@@@@@@@@@@@@@@@@* =@@@@@@@@@@@@@@@@@@@@. .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.   %@@@@@@@@@@@@@@==============-:           @@@@@@@@@@@@@.
  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*        #@@@@@@@@@@@@@@@@@@@   %@@@@@@@@@@@@@@@@@@+  #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%   %@@@@@@@@@@@@@%                           @@@@@@@@@@@@@.
  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%         @@@@@@@@@@@@@@@@@@+   .@@@@@@@@@@@@@@@@@@. :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+  %@@@@@@@@@@@@@%                           @@@@@@@@@@@@@.
  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#         =@@@@@@@@@@@@@@@@@.    +@@@@@@@@@@@@@@@@*  %@@@@@@@@@@@@@%+++++++++++*@@@@@@@@@@@@@@@: %@@@@@@@@@@@@@%                           @@@@@@@@@@@@@.
  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:          %@@@@@@@@@@@@@@@+     .@@@@@@@@@@@@@@@@. +@@@@@@@@@@@@@@.            *@@@@@@@@@@@@@@% %@@@@@@@@@@@@@%                           @@@@@@@@@@@@@.
  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*.           :@@@@@@@@@@@@@@%       +@@@@@@@@@@@@@@+ :@@@@@@@@@@@@@@=              #@@@@@@@@@@@@@@*%@@@@@@@@@@@@@%                           @@@@@@@@@@@@@.
  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%*-               +@@@@@@@@@@@@@=        %@@@@@@@@@@@@@. %@@@@@@@@@@@@@*               .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%                           @@@@@@@@@@@@@.
  </pre>
  </div>
  <div class='col-12 flex justify-content-center'>
    <h3>WELCOME TO SWAPI APP</h3>
  </div>
  <div class='col flex justify-content-center'>
    <a href='https://swapi.dev/documentation' class='p-button p-button-outlined p-button-secondary'>Read the API docs</a>
  </div>

</div>

