<div class="grid">
  <div class="col">
    <swapi-entities-list [listTitle]="'PEOPLE'" categoryUrl="people" subCategoryUrl="single-person" [moreDetailHandler]="onMoreDetailClick" [paginatorEnabled]="true" [currentPage]="currentPage()" [entitiesLis]="facade.selectedAllEntities$ | async"
                         [paginationData]="facade.selectedPaginationData$ |async" (changePage)="onPageChange($event, 'people')" [entitiesListPending]="facade.selectedPendingStatus$ | async"></swapi-entities-list>
  </div>
</div>


