<div class="grid">
  <div class="col">
    <h1>PEOPLE</h1>
  </div>
</div>
<div class="grid" *ngIf="entitiesLis?.length; else progressBar">
  <div class="col">
    <div class="my-3" *ngFor="let entity of entitiesLis; trackBy: trackByUrl">
      <p-card [header]="entity.name">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
          deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
          neque
          quas!
        </p>
      </p-card>
    </div>

  </div>
</div>

<ng-template #progressBar>
  <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
</ng-template>
